# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
prompt/
env/

# Environment Variables
.env
*.env

# Database
*.db
sqlite.db

# Node
node_modules/
dist/
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db